*,
*::after,
*::before
{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html{
    font-size: 62.5%;
    @include respond(tab-land){//1rem = 9px
        font-size: 56.25%;
    }
    @include respond(tab-port){
        font-size: 50%;//1rem = 8px, 8/16 = 50%
    }
    // @include respond(phone){
    //     font-size: 30%;//1rem = 8px, 8/16 = 50%
    // }
    @include respond(big-desktop){//1rem = 12px
        font-size: 75%;
    }
}
body{
    padding: 3rem;
    box-sizing: border-box;

    @include respond(tab-port){
        padding: 0;//1rem = 8px, 8/16 = 50%
    }
}